
doctype
html(lang='')
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      //- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
      meta(name='description', content='')
      meta(name='author', content='')
      title
      //- Bootstrap core CSS
      link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
      //- link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
      //- link(href='/css/style.css', rel='stylesheet')
      // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
       //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.min.js')
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body
      block content

container      
h1 Thank you for your Response!
a(href="/guestlist") Guest List






